<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        
<hibernate-configuration>
	<session-factory>
		<!-- JDBC -->
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">PaenutButtre2</property>
		<property name="hibernate.connection.url">jdbc:postgresql://javafs201130.c5srn7vdmkt3.us-east-2.rds.amazonaws.com:5432/postgres</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<!-- Hibernate Properties -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.default_schema">public</property> <!-- Specific to ERS Project 1 -->
		<!--  Hibernate console output -->
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<!-- DDL -->
		<property name="hibernate.hbm2ddl.auto">create</property>
		<!-- Create: Drops and recreates tables on launch -->
		<!-- Update: Adds on to the previous existing tables, likely adding duplicates -->
		
		<!-- We will map our classes here -->
		<mapping class="com.revature.models.User"/>
		<mapping class="com.revature.models.UserRoles"/>
		<mapping class="com.revature.models.Reimbursement"/>
		<mapping class="com.revature.models.ReimbType"/>
		<mapping class="com.revature.models.ReimbStatus"/>
	</session-factory>
</hibernate-configuration>