body
{
    background-color: slategray;
}

.employ
{
    background-color: burlywood;
    padding: 25px;
}

.container
{
    margin-bottom: 0px;
    position: relative;
}

h1
{
    font-family: 'News Cycle', sans-serif;
    font-size: 40px;
}

.jumbotron
{
    margin-top: 150px;
    width: 300px;
    height: 10px;
    background: transparent;
}

.login
{
    width: 300px;
}

button
{
    text-align: center;
    position: relative;
    width: 300px;
}
